@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using MbmStore.Models;

@{
    ViewData["Title"] = "Invoices";
}


<h1>Invoices</h1>
<a asp-controller="Home" asp-action="Index">< Home</a>
<form method="post" asp-controller="Invoice" asp-action="Index">
    <div>
        <select name="customer" id="customer" asp-items="@ViewData["Customers"] as List<SelectListItem>"></select>
        <button type="submit">Show invoices</button>
        <a asp-controller="Invoice" asp-action="Index"><button type="button">Show all invoices</button></a>
    </div>
</form>


<div class="card">
    <div class="row">
        <p><b>Customer</b></p>
        <p><b>Product<span class="unitQ">Quantity</span><span class="priceOne">Price per unit</span></b></p>
        <p><b>Price</b></p>
    </div>
        @foreach (Invoice invoice in ViewBag.Invoices)
        {
            <div class="row">
                <p>@invoice.Customer.FirstName @invoice.Customer.LastName</p>
                <p>@foreach (OrderItem product in invoice.OrderItems) {
                    <span>@product.Product.Title
                        <span class="unitQ">@product.Quantity
                            @{if (product.Quantity == 1) {
                                    @Html.Raw("unit")
                                } else {
                                    @Html.Raw("units")
                                }
                             }</span>
                        <span class="priceOne">@String.Format("{0:0.00} kr/unit", product.Product.Price)</span>
                    </span>
                }</p>
                <p>@foreach (OrderItem product in invoice.OrderItems) {
                    <span>@String.Format("{0:0.00} kr", product.TotalPrice)</span>
                }</p>
                <p></p>
                <p><b>Total:</b></p>
                <p><b>@String.Format("{0:0.00} kr", invoice.TotalPrice)</b></p>
            </div>
        }
</div>


<style>
    body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto
    }

    .card {
        border: 1px solid silver;
        border-radius: 5px;
        padding: 2em 0;
        margin: 1em 0
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 1em 3em
    }

    .row p {
        margin: 0
    }

    .row:not(:last-child) {
        border-bottom: 1px dotted silver
    }

    .row p:nth-child(3n + 1) {
        width: 16%
    }

    .row p:nth-child(3n + 2) {
        width: 74%
    }

    .row p:nth-child(3 + 3) {
        width: 8%
    }

    .row p span {
        margin: 0 0 0.2em;
        display: block
    }

    .unitQ, .priceOne {
        float: right;
        padding-right: 1em;
        width: 120px
    }

    form {
        margin-bottom: 1em;
        float: right
    }
</style>